h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(104, 76, 42);
}

img {
    display: block; 
    margin: 0 auto; 
    max-width: 100%
}

h3 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(64, 47, 47);
    font-style: oblique;
    text-decoration: underline;

}

p {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

